@import 'variables.scss';
@import 'mixins.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'buttons.scss';
@import 'about.scss';
@import 'projects.scss';
@import 'signup.scss';
@import 'contact.scss';

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
}

.icon {
  font-size: 70px;
  vertical-align: top;
  margin: 0 20px
}

#tech{
  transition: opacity .4s ease-in-out;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  // transition-timing-function: linear;
  font-size: 30px;
}

.icon:hover {
  cursor: pointer;
}

.iconify {
  color: #764abc;
}

.projects-section {
  padding: 5rem 0;
}

.dev-img {
  height: 200px;
  width: 300px;
  border-radius: 5%;
  margin-bottom: 20px;
}

.about-section {
  padding-top: 8rem;
}

.gif { 
  width: 600px;
  max-height: 350px;
}

.proj-link {
  color: $primary;
  text-decoration: none;
}

.resume {
  font-size: 30px;
  padding-bottom: 5px;
  color: $white;
}

.resume:hover {
  color: $gray-300;
}

.redux {
  height: 69px;
  width: 70px;
}

.projects-header {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-size: 35px;
  padding-bottom: 10px;
}

.stuff {
  margin-top:65px;
}
